.flight-list {
    width: 85vw;
    margin: 0 auto;
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #4cae4c;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: space-between;
}
