.flight-container-departure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #86dcd0;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: space-between;

}

.flight-container-arrival {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fcf8e3;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: space-between;

}


.flight-container:hover {
  transform: scale(1.05);
}

