.search {
  -webkit-appearance: none;
  border: none;
  padding: 3px;
  width: 200px;
  background-color: #4293e4;
  color: white;
  text-align: center;
}

.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}
